__pycache__/
.vscode/
.ipynb_checkpoints/
.virtual_documents/
cache/
checkpoint/
log*
mecab*
wandb/
output/

rawdata/
media/
figures/
stat/
img_paper/
src/wandb
.amltignore
figs/
figures.py
paper_help.py
configs/
commands/
draw.ipynb
cal_val.py
requirement.txt
test_draw.py

rawdata/
*.log
*_debug.sh
mlruns/

amlt/
.amltconfig
.amltignore